.first {
    border: 2px solid black;
    padding: 4px;
}
.jump-icon,
.ground-icon,
.stand-icon,
.sprint-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}

.jump-icon {
  background-color: red;
  color: white;
}

.ground-icon {
  background-color: green;
  color: white;
}

.sprint-icon {
  background-color: yellow;
  color: black;
}
.stand-icon {
    background-color: black;
    color: white;
}


.row {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
}

.lightRow {
    display: flex;
    justify-content: flex-start;
    background-color: lightgrey;
    padding: 8px;
}
.column {
    flex: 1;
    padding: 8px;
}
.blackBox {
    border: 1px solid black;
    padding: 5px;
    background-color: black;
    display: inline-flex;
    align-items: center;
    color: white;
    border-radius: 5px;
}

.hexContainer {
    padding-top: 8px;
}

.checkHexagon:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 15px solid black;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px;
}

.checkHexagon {
    margin-top: 15px;
    width: 52px;
    height: 30px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* for a white checkmark */
}

.checkHexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -15px;
    border-top: 15px solid black;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
.plusHexagon:before {
    content: " ";
    font-weight: bolder;
    width: 0; height: 0;
    text-align: center;
    line-height: 15px;
    border-bottom: 15px solid black;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -15px;
}

.plusHexagon {
    margin-top: 15px;
    width: 52px;
    height: 30px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* for a white checkmark */
}



.minusHexagon {
    margin-top: 15px;
    width: 52px;
    height: 30px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* for a white checkmark */
}

.minusHexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -15px;
    border-top: 15px solid black;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
  }
  
.combat-phase-text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px;
}
.instruction-text {
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
    border: 1px solid black;
    align-items: center;
}
  
.centerText {
    text-align: center; 
    font-size: 10px;    
    font-weight: bold;  
    line-height: 0.9;
  }

