.combat-phase-display {
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    background-color: lightgrey;
    padding-top: 10px; /* Padding at the top */
    padding-bottom: 10px; /* Padding at the bottom */
  }
  .unit-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
  }
  
  .initiative-box {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 32px;
    font-weight: bolder;
  }
  .movement-phase-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    
  }
  
  p {
    margin: 0;
    padding-right: 10px; 
  }
  